@use "../../styles/abstracts-var-mixins/variables" as *;
@use "../../styles/abstracts-var-mixins/mixins" as *;

.navigation-menu {
  @include paragraph-text;
  font-weight: 500;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;

  .navigation-menu__link {
    text-align: center;
    padding: 0.3rem;
    &:nth-child(n) {
      color: $white;
      text-decoration-color: $orange;
      &:hover {
        color: white;
        text-decoration: 0.125rem underline $white;
        &::first-letter {
          color: $orange;
        }
      }
    }
    &:last-child {
      color: $orange;
      text-decoration-color: $white;
      &:hover {
        color: $orange;
        text-decoration: 0.125rem underline $white;
        border: white;
        &::first-letter {
          color: $white;
        }
      }
    }
    &:active {
      text-shadow: 0.125rem 0.175rem 1rem $orange;
      border-radius: 2rem;
    }
  }
}
