@use "../../styles/abstracts-var-mixins/variables" as *;

.banner {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.4rem;
  color: $orange;
  border-radius: 0 2rem;
  margin-bottom: 20px;

  .banner__title-container {
    flex-grow: 2;
    display: none;

    .banner__heading {
      text-align: center;
    }
  }
  .banner__menu-container {
    flex-grow: 1;
  }
}
@media screen and (min-width: 600px) {
  .banner {
    .banner__title-container {
      display: inline;
    }
  }
}
