@use "../../styles/abstracts-var-mixins/variables" as *;
.banner {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.4rem;
  background-color: $black;
  color: $orange;
  .banner__title-container {
    flex-grow: 2;
    .banner__heading {
      text-align: center;
      text-shadow: 0.025rem 0.175rem 0.8rem $orange;
    }
  }
  .banner__menu-container {
    flex-grow: 1;
  }
}
