// Global Color palette
$black: #1e1e1e;
$white: #ffffff;
$orange: #f06423;

// Global font properties
$header-font-family: "Manrope", sans-serif;
$text-font-family: "Montserrat", Verdana;

// font sizes
$large-header-font-size: 3rem;
$header-font-size: 2rem;
$subheader-font-size: 1.6rem;
$paragraph-font-size: 1rem;
$small-paragraph-font-size: 0.9rem;

// font-weights
$bold-font-weight: 900;
$semibold-font-weight: 850;
$regular-font-weight: 300;
$extraLight-font-weight: 200;
